.nav {
  position: fixed;
  top: 0;
 // margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  border: none;
  transform: translateY(15px);
  z-index: 9999;
  transition: background-color 0.3s ease, transform 0.3s ease;

  @media (min-width: $screen-md-min) {
    transform: translateY(30px);
  }

  &--stiky {     
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.7);     
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  &__logo {
    margin-right: 15px;
  }
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: -15px;
  padding-left: 0;

  @media (max-width: $screen-md-max) {
    margin-right: -12px;
  }

  @media (max-width: $screen-sm-max) {
    position: absolute;
    top: 50px;
    right: 0;
    max-width: 250px;
    margin-right: 0;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transform: translateY(calc(-100% - 90px));
    z-index: 2;
  }

  &--show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity ease 0.3s, transform ease 0.3s;
  }

  &__item {
    &:not(:last-child) {
      @media (max-width: $screen-sm-max) {
        border-bottom: 1px dotted ;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 7px 15px;
    color: $font-color-secondary;
    font-weight: 500;
    white-space: nowrap;

    @media (max-width: $screen-sm-max) {
      border-bottom: 1px dotted $btn-toggle-menu-color;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 15px;
      bottom: 0; 
      height: 2px;
      width: calc(100% - 30px);
      transform: scaleX(0);
      transform-origin: 0 0;
      background-color: $color-pink;
      transition: 0.5s ease transform, 0.5s ease color;
    }    

    &:focus {
      color: $color-pink;
      outline: 1px dotted $color-pink;

      @media (max-width: $screen-sm-max) {
        box-shadow: 0 0 6px 2px $btn-toggle-menu-color;
        color: $font-color-secondary;
      }
    }

    &:hover {
      @media (min-width: $screen-md-min) {
        color: $color-pink;

        &:before {
          transform: scaleX(1);            
        }
      }
    }
    
    &:active {
      color: darken($color-pink, 10);
      outline: 1px dotted $color-pink;
      box-shadow: 0 0 10px 4px $color-pink;

      @media (max-width: $screen-md-max) {
        box-shadow: 0 0 10px 3px $btn-toggle-menu-color;
        color: $font-color-secondary;        
      }
    }

    &--active {
      color: $color-pink;
    }  
  }
}

.logo {
  padding: 7px;

  &:focus {
    outline: 1px dotted $btn-toggle-menu-color;
  }
}

.btn-toggle-menu {
  display: none;

  @media (max-width: $screen-sm-max) {
    display: block;
    width: 45px;
    height: 45px;
    padding: 5px;
    border: 2px solid $btn-toggle-menu-color;
    border-radius: 10px;
    background-color: transparent;
  }

  &__item {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    font-size: 0;
    background-color: $btn-toggle-menu-color;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      width: 100%;
      height: 3px;
      background-color: $btn-toggle-menu-color;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 3px;
      background-color: $btn-toggle-menu-color;
    }
  }

  &:focus {
    box-shadow: 0px 0px 8px 2px $btn-toggle-menu-color;
  }

  &:active {
    box-shadow: 0px 0px 8px 6px $btn-toggle-menu-color;
  }
}