html,
body {
	font-family: $font-family-base;
	font-size: $base-font-size;
	font-weight: $fw-regular;
	line-height: $line-height-base;
	color: $font-color-primary;
}

h1,
h2,
h3,
h4
{
	margin: 0;
}



