$COLOR_WHITE: #fff;
$COLOR_PINK: #e71cb4;

$dark-grey: #444;
$black: #000;
$dark-purple: #460340;
$light-gray: #eee;
$pale-gray: #ddd;
$dark-pink: #c60ebe;

// Background color
$bg-color-primary: $COLOR_WHITE;
$bg-color-secondary: $black;
$bg-color-enumerator: $dark-purple;
$bg-color-footer: $light-gray;

// Fonts
$font-family-base: 'Poppins', 'Arial', 'Helvetica', sans-serif;
$font-family-secondary: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$line-height-base: 1.5;
$line-height-lg: 1.818181;
$line-height-md: 1.2;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$base-font-size: 16px;
$logo-font-size: 33.51px;
$font-size-h1: 65px;
$font-size-h2: 62px;
$font-size-h3: 36px;
$font-size-h4: 30px;
$font-size-xxxlg: 72px;
$font-size-xxlg: 40px;
$font-size-xlg: 32px;
$font-size-lg: 24px;
$font-size-md: 22px;
$font-size-sm: 14px;

// Font color
$font-color-primary: $dark-grey;
$font-color-secondary: $COLOR_WHITE;
$font-color-additional: $COLOR-PINK;

//Controls
$btn-border-color: $pale-gray;
$btn-bg-color: (1: $dark-pink, 2: $dark-grey);

//Main menu color
$font-color-menu: $COLOR_PINK;
$btn-toggle-menu-color: $COLOR_WHITE;

$input-color: $dark-grey;

// List of colors for numbering
$color-list-number: (1: #ffde16, 2: #ffbd9e, 3: #20c9e0, 4: #2eac66, 5: #ff6179, 6: #ffde16);

//Breakpoints
$screen-xs:                  320px;
$screen-xs-min:              $screen-xs;

$screen-sm:                  576px;
$screen-sm-min:              $screen-sm;

$screen-md:                  768px;
$screen-md-min:              $screen-md;

$screen-lg:                  992px;
$screen-lg-min:              $screen-lg;

$screen-xlg:                 1200px;
$screen-xlg-min:             $screen-xlg;

$screen-xs-max:              ($screen-sm-min - 1); // до 575
$screen-sm-max:              ($screen-md-min - 1); // до 767
$screen-md-max:              ($screen-lg-min - 1); // до 991
$screen-lg-max:              ($screen-xlg-min - 1); // до 1199

// Font factors
$k-xs: 0.6;
$k-sm: 0.7;
$k-md: 0.8;
$k-lg: 0.9;
$k-xlg: 1;