@import "node_modules/normalize-scss/sass/_normalize.scss";

@import "variables";
@import "typography";
@import "controls";
@import "layout";
@import "general";

@import "menu";
@import "header";
@import "section-about";
@import "section-competitors";
@import "section-sponsors";
@import "section-jury";
@import "section-contact";
@import "footer";